.card{
  position: relative;
  width: 100%;
  height: 300px;
  border: 10px blue solid;
  transform-style:preserve-3d ;
  transform: rotateX(180deg);
  transition: transform 0.5s ease-in-out;
}
.card img{
  width: 100%;
  height: 100%;
}
.card::after{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: aqua;
  transform: rotateX(180deg);
  backface-visibility: hidden;
}
.card-show{
  transform: rotateX(0);
}